body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



*{margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }
 
.navdiv{
  width:100%;
  background:violet;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav{
  width:50%;
  display:flex;
  justify-content: space-around;
  background:red;
  align-items: center;
}
.navul{
  display:flex;
  justify-content: space-around;
  padding:10px 20px; 
}
.navul li{
  padding: 0 40px;
  font-size:20px;
  text-transform: capitalize;
  font-weight: 500;
  list-style-type: none;
}
#menuToggle{
  width:100%;
  text-align: center;
  padding:50px 0;
  margin-top:20px; 
}
.navbar-brand span{
  font-size:2.5rem;
}
 
/* header banner css start */
.leftDiv{
  
  position:relative;
  top:250px;
  left:0; 
}
.leftDiv h1{
  text-align: center;
}
.leftDiv{
  text-align: center;
}

.rightDiv img{
  width:100%;
  
}
/* header banner css end */
/* card */

/* media query start*/
@media(max-width:750px){
 .leftDiv{
  position: relative;
  top: 0;
  left: 0;
 } 
}
/* media query end */
